<center><h1>Connect 4 game</h1></center>
<div class="container">
    <a href="/connect4.jar">Download the game !</a>
    <h2>Requirements</h2>
    You need to have java runtime environment (JRE) installed on your computer
    <h2>How to play</h2>
    The goal of this section is to explain you how to use the interface. If you don't know the rules of this game, please
    read the introduction of the <a href="https://en.wikipedia.org/wiki/Connect_Four" target="_blank">wiki page</a>
    <br />
    This software allow you to play against an IA presented in the differents section of this module. <br />
    You can also select an evaluation algorithm.
    This algorithm will run at your turn and will give you an evaluation betwen -100 and 100 of each possible moves.
    <br />
    <img src="app/images/connect4/Connect4_eval1.png" width="627" height="400" />
    <br />
    Therefore, you will have the same informations that the computer would have if it had to play your turn.
    Of course you are free to follow the algorithm advises or not.
    <br />
    <br />
    <h3>Initialisation</h3>
    <b>step 1</b> : <br />
    You have first to chose the type of algorithm your opponent will using. Then click on "init O". <br />
    <img src="app/images/connect4/Connect4_init1.png" width="627" height="400" /><br />
    <br />
    <b>step 2</b> : <br />
    Now select the algorithm of evaluation (which will evaluate your situation). 
    I advise you to select the same algorithm than your opponent, therefore, it will give you the same informations than the computer 
    (and in the case of the greedy algorithm for instance, you will see that it doesn't give you many informations).
    Then click on "Init Evaluation"<br />
    <img src="app/images/connect4/Connect4_init2.png" width="627" height="400" /><br />
    <br />
    <b>step 3</b> : <br />
    Finally, you can start the game ! <br />
    <img src="app/images/connect4/Connect4_init3.png" width="627" height="400" /><br />
    <br />

    <a href="/connect4.jar">Download the game !</a>
</div>
