<center><h1>MinMax algorithm pseudocode</h1></center>

<div class="container">
    Select the depth parameter :
    <span ng-model="depth" ng-change="loadData()">
        <button type="button" class="btn btn-default btn-lg" ng-class="{active : depth===1}" ng-click="loadData(1)">1</button>
        <button type="button" class="btn btn-default btn-lg" ng-class="{active : depth===2}" ng-click="loadData(2)">2</button>
        <button type="button" class="btn btn-default btn-lg" ng-class="{active : depth===3}" ng-click="loadData(3)">3</button>
    </span>
</div>

<ng-debuger code="code" code-underligne="codeUnderligne" images="images" ></ng-debuger>
